.root {
    -color-base-9: white;
    -color-base-8: #dddddd;
    -color-base-7: #d0d0d0;
    -color-base-6: #c4c4c4;
    -color-base-5: rgb(170, 170, 170);
    -color-base-4: #6a6a6a;
    -color-base-3: #5e5e5e;
    -color-base-2: #444444;
    -color-base-1: #373737;
    -color-base-0: #373737;
    -color-accent-9: #bddeff;
    -color-accent-8: #a3d1ff;
    -color-accent-7: #7abcff;
    -color-accent-6: #57aaff;
    -color-accent-5: #3d9eff;
    -color-accent-4: rgb(10, 132, 255);
    -color-accent-3: #006bd6;
    -color-accent-2: #005bb7;
    -color-accent-1: #00448a;
    -color-accent-0: #002b57;
    -color-fg-default: black;
    -color-fg-muted: rgb(50, 50, 50);
    -color-fg-subtle: rgb(90, 90, 90);
    -color-bg-default: -color-base-9;
    -color-bg-overlay: -color-base-8;
    -color-bg-subtle: -color-base-6;
    -color-bg-inset: -color-base-4;
    -color-border-default: -color-base-1;
    -color-border-muted: -color-base-2;
    -color-border-subtle: -color-base-3;
    -color-accent-fg: rgb(110, 180, 255);
    -color-accent-emphasis: rgb(0, 180, 255);
    -color-accent-muted: rgba(10, 132, 255, 0.4);
    -color-accent-subtle: rgba(10, 132, 255, 0.15);
    -fx-background-color: -color-bg-default;
}

.bento .split-pane {
    -fx-background-color: -color-bg-default;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.bento .split-pane > .split-pane-divider {
    -fx-background-color: -color-bg-inset !important;
    -fx-padding: 0 2px 0 2px;
}

.bento .split-pane > .split-pane-divider > .horizontal-grabber {
    -fx-background-color: -color-base-6;
    -fx-padding: 5px 1px 5px 1px;
}

.bento .split-pane > .split-pane-divider > .vertical-grabber {
    -fx-background-color: -color-base-6;
    -fx-padding: 1px 5px 1px 5px;
}

.bento .split-pane > .split-pane-divider:hover {
    -fx-background-color: -color-accent-fg;
}
.bento .split-pane > .split-pane-divider:pressed {
    -fx-background-color: -color-accent-emphasis;
}
.bento .split-pane > .split-pane-divider:disabled {
    -fx-background-color: -color-border-muted;
}
.bento .split-pane > .split-pane-divider:hover> .horizontal-grabber,
.bento .split-pane > .split-pane-divider:hover> .vertical-grabber {
    -fx-background-color: -color-accent-7;
}
.bento .split-pane > .split-pane-divider:pressed > .horizontal-grabber,
.bento .split-pane > .split-pane-divider:pressed > .vertical-grabber {
    -fx-background-color: -color-accent-emphasis;
}

/* HeaderView */
.header-view {
    -fx-border-width: 0px;
    -fx-background-insets: 0, 1px;
    -fx-background-color: -color-border-default, -color-bg-default;
}
/* The "v" and "..." buttons in HeaderView */
.header-view .button {
    -fx-background-insets: 0, 1px;
    -fx-background-radius: 0px;
    -fx-background-color: -color-border-default, -color-bg-overlay;
    -fx-border-width: 0px;
}
.header-view .button:hover {
    -fx-background-color: -color-border-default, -color-bg-default;
}
.header-view:top .button {
    -fx-background-insets: 0, 0 0 1px 1px;
}
.header-view:bottom .button {
    -fx-background-insets: 0, 1px 0 0 1px;
}
.header-view:left .button {
    -fx-background-insets: 0, 1px 1px 0 0;
}
.header-view:right .button {
    -fx-background-insets: 0, 1px 0 0 1px;
}
.header-view:top .button-bar,
.header-view:bottom .button-bar {
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: -color-border-default;
}
.header-view:left .button-bar,
.header-view:right .button-bar{
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -color-border-default;
}

/* HeaderRegion (Wrapper) */
.header-region-wrapper {
    -fx-border-color: -color-border-default;
}
.header-view:top .header-region-wrapper {
    -fx-border-width: 1px 0 0 1px;
}
.header-view:bottom .header-region-wrapper {
    -fx-border-width: 0 0 1px 1px;
}
.header-view:left .header-region-wrapper {
    -fx-border-width: 1px 0 0 1px;
}
.header-view:right .header-region-wrapper {
    -fx-border-width: 1px 1px 0 0;
}

/* HeaderRegion */
.header-region {
    -fx-background-color: -color-border-default, -color-bg-overlay;
}
.header-region:top {
    -fx-background-insets: 0, 0 0 1px 0;
}
.header-region:bottom {
    -fx-background-insets: 0, 1px 0 0 0;
}
.header-region:left {
    -fx-background-insets: 0, 0 1px 0 0;
}
.header-region:right {
    -fx-background-insets: 0, 0 0 0 1px;
}
.header-region .node-wrapper {}

/* Header */
.header {
    -fx-background-color: -color-border-default, -color-bg-overlay;
}
.header:top {
    -fx-padding: 0.3em 0.6em 0.3em 0.6em;
    -fx-background-insets: 0, 0 0 1px 0;
}
.header:bottom {
    -fx-padding: 0.3em 0.6em 0.3em 0.6em;
    -fx-background-insets: 0, 1px 0 0 0;
}
.header:left {
    -fx-padding: 0.3em 0.4em 0.3em 0.4em;
    -fx-background-insets: 0, 0 1px 0 0;
}
.header:right {
    -fx-padding: 0.3em 0.4em 0.3em 0.4em;
    -fx-background-insets: 0, 0 0 0 1px;
}
.header:hover {
    -fx-background-color: -color-border-subtle, -color-bg-subtle;
}
.header-view .header:selected {
    -fx-background-color: -color-bg-inset, -color-bg-default;
}
.header-view:active .header:selected {
    -fx-background-color: -color-accent-4, -color-bg-default;
}
.header:selected:top {
    -fx-background-insets: 0, 0 0 2px 0;
}
.header:selected:bottom {
    -fx-background-insets: 0, 2px 0 0 0;
}
.header:selected:left {
    -fx-background-insets: 0, 0 2px 0 0;
}
.header:selected:right {
    -fx-background-insets: 0, 0 0 0 2px;
}
.dock-ghost-zone {
    -fx-opacity: 0.3;
}